#container > * {
    display: inline-block;
}

.centered {
  text-align: center;
}

.redText {
  color: red;
}

.creationFormDiv {
  padding-top: 40px;
  padding-bottom: 40px;
}

.infoChunk {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
}

#moreInfoButton {
  float: right;
  height: 30px;
  padding-bottom: 30px;
}

#printSaveShare {
  float: right;
}

#viewAllButton {
  float: center;
}

.agencyInfoText {
  padding-left: 30px;
  float: left;
}

hr.class-1 {
    border-top: 10px solid #8c8b8b;
}

#serviceTitle{
  float: left;
}

#saveDropdownLoc {
  float: center;
  padding-top: 15px;
}

#serviceDescription {
  float: left;
  padding-left: 30px;
  padding-right: 70px;
}

.ServiceEditingChunk1 {
  float: left;
  padding-left: 70px;
  padding-right: 30px;
}

.rowChunk {
  float: left;
  padding-left: 30px;
}

.serviceRowChunk {
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rowHeadingPad {
  padding-left: 25px;
  padding-top: 20px;
}

.ServiceDescriptionField {
  float: left;
  padding-left: 70px;
  padding-right: 30px;
}

#resultCard {
  background-color: #4D000D;
  padding-left: 10px;
  padding-right: 10px;
}

.text-color {
  color: white;
}
