#container > * {
    display: inline-block;
}

.centered {
  text-align: center;
}

#moreInfoButton {
  float: right;
  height: 30px;
  padding-bottom: 30px;
}

#printSaveShare {
  float: right;
}

#viewAllButton {
  float: center;
}

.agencyInfoText {
  padding-left: 30px;
  float: left;
}

#serviceTitle{
  float: left;
}

#saveDropdownLoc {
  float: center;
  padding-top: 15px;
}

#serviceDescription {
  float: left;
  padding-left: 30px;
  padding-right: 70px;
}

.ServiceEditingChunk1 {
  float: left;
  padding-left: 70px;
}

.ServiceDescriptionField {
  float: left;
  padding-left: 70px;
  padding-right: 30px;
}

#resultCard {
  background-color: #4D000D;
  padding-left: 10px;
  padding-right: 10px;
}

.text-color {
  color: white;
}