#parent {
	text-align: center;
}

#main-component {
	position: fixed;
	left: 0;
	text-align: center;
	width: 10;
	overflow: auto;
	display: inline-block;
}

.aligncenter {
	float: center;
	text-align: center;
	font-size: 40px;
}

.alignright {
	font-size: 16px;
	text-align: right;
	float: right;
}

#modal-button {
	padding-bottom: 10px;
}
