#survey_button {
   background-color: black;
   color: black;
}

#prev_and_results_button {
   margin-left: 75%;
}

#previous_button {
   margin-right: 2%;
}

#continue_button {
   margin-left: 80%;
}

#main_component_survey {
   height: 100%;
   /*background-image: url("../Images/clocktower_cropped.jpg");*/
}

#directions {
   padding-top: 2%;
}

#notice {
   color: red;
   padding-bottom: 1%;
   font-size: 100%;
}

#table_parent {
   margin-left:auto; 
   margin-right:auto;
   width: 70%;
}

#survey-parent {
   align-content: center;
}

#exit_button {
   margin-left: 15%;
}